@keyframes slidein {
   from {
      transform: translateY(-15%)
   }

   to {
      transform: translateY(0%)
   }
}

.song-item {
   animation-name: slidein;
   animation-iteration-count: infinite;
   animation-direction: alternate-reverse;
}

.song-item0 {
   animation-duration: 0.5s;
}

.song-item1 {
   animation-duration: 0.5s;
   animation-delay: 0.1s;
}

.song-item2 {
   animation-duration: 0.5s;
   animation-delay: 0.2s;
}

.song-item3 {
   animation-duration: 0.5s;
   animation-delay: 0.3s;
}

.song-item4 {
   animation-duration: 0.5s;
   animation-delay: 0.4s;
}